# JetBrains
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Git
.git/

# Logs
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage/

# Compiled
lib/
dist/
*.css.map
*.js.map

# Dependencies
node_modules/
bower_components/

